@using MultiShopBackEndProject.Models
@model List<Category>
@{
    ViewData["Title"] = "Index page";
}


<div class="main-panel">
    <div>
        <a class="btn btn-success" asp-area="ShopAdmin" asp-controller="Category" asp-action="Create">Create a new offer</a>
    </div>
    <div class="table-responsive pt-3">
        <table class="table table-dark">
            <thead>
                <tr>
                    <th>
                        Image
                    </th>
                    <th>
                        Id
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Settings
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (Category color in Model)
                {
                    <tr>
                        <td>
                           <img src="~/assets/img/@color.Image"/>
                        </td>
                        <td>
                            @color.Id
                        </td>
                        <td>
                            @color.Name
                        </td>
                        <td  class="d-flex">
                                <div>
                                    <a asp-area="ShopAdmin" asp-controller="Category" asp-action="Edit" asp-route-id="@color.Id" class="btn btn-warning"><i class="mdi mdi-border-color"></i></a>
                                </div>
                                <div>
                                    <a class="btn btn-danger" asp-area="ShopAdmin" asp-controller="Category" asp-action="Delete" asp-route-id="@color.Id"><i class="mdi mdi-delete"></i></a>
                                </div>
                                <div>
                                    <a class="btn btn-danger" asp-area="ShopAdmin" asp-controller="Category" asp-action="Detail" asp-route-id="@color.Id"><i class="mdi mdi-file"></i></a>
                                </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

